body{
    background: url('../img/fundo.png');
}
.bege{
    background-color: #F5F5DC;
    color: black;
    h2{
        color : rgb(111, 97, 64);
    }
}
a{
    text-decoration: none;
    color: black;
    font-size: larger;
}
footer{
    text-align: center;
}