body{
    background: #d2d2c1 url('../img/fundo.png');
    font: 16px Arial, Helvetica, sans-serif;
    width: 900px;
}
.menu{
    background-color: #F5F5DC;
    color: black;
    h2{
        color : rgb(111, 97, 64);
    }
}
.menuC{
    background-color: #F5F5DC;
    color: black;
    h2{
        color : rgb(111, 97, 64);
    }
}
.img-menuC{
    border: 10px solid #c3c3ae;
}
a{
    text-decoration: none;
    color: black;
    font-size: larger;
    padding: 10px;
}
footer{
    text-align: center;
}
.cabecalho{
    padding: 30px;
}